# Dépendances système ROS 2 Humble (paquets apt, pas paquets pip)
ros-humble-slam-toolbox
ros-humble-navigation2
ros-humble-nav2-bringup
ros-humble-pointcloud-to-laserscan
ros-humble-rmw-cyclonedds-cpp
